.login-container {
  position: relative;
  background-color: var(--text-white-color);
  height: 100vh;
  background-color: #095A4A;
}

.login-form {
  position: absolute;
  width: 50rem;
  height: 45rem;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5rem;
  font-size: 1.4rem;
  background-color: #fff;
  box-shadow: var(--modal-shadow-2);
  border-radius: 8px;
 
}

.login-logo {
  margin-bottom: 3rem;
  text-align: center;
}
.login-logo img {
  height: 6rem;
}

.login-input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.login-input .form__input {
  margin-bottom: 2.5rem;
  font-size: inherit;
}

.btn-login {
  width: 30rem;
  margin-bottom: 3rem;
}

.login-copyright-text {
  text-align: center;
  font-size: 1.1rem;
}
.login-copyright-text a:link,
.login-copyright-text a:visited {
  color: var(--text-black-color);
  text-decoration: underline;
}

@media only screen and (max-width: 35em) {
  /* 35em = 560px */
  .login-form {
    background-color: var(--text-white-color);
    box-shadow: none;
    width: 100%;
    padding: 5rem;
  }
}

.logo-bkground{
  background-color:#095A4A;
}

